.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.darkToggle {
  cursor: pointer;
}
